# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
*.local

# Testing
coverage

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo 